<section>
<% if @expenses.empty? %>
  <h2>No expenses</h2>
<%else%>
<ul class= 'list d-flex'>
  <% @expenses.each do |expense| %>
    <li>
      <div class= 'd-flex'>
        <div class='d-flex'>
          <h2><%= expense.name %></h2>
          <h2><%= expense.groups[0].name %></h2>
        </div>
        <h2>$<%= expense.amount%></h2>
      </div>
    <p  class='date'><%= expense.created_at %></p >
    </li>
  <%end%>
</ul>
<%end%>

<%@link = "/users/#{current_user.id}/expenses/new"%>
<%@data = {text: 'add new expense', link: @link}%>
</section>
<%= render 'partials/footer', :data => :data %>