<header id='header'>
  <div class='header-links'>
  <div class='d-none ' id='search-div'>
    <input type="search" class='search-input' placeholder="Search...">
    <button type="submit">Search</button>
  </div>
   <%@title = controller.controller_name %>
   <% if @title == 'sessions' %>
    <%@title = 'Log in '%>
   <%elsif @title == 'registrations'%>
     <%@title = 'Sign Up'%>
   <%end%>
    <i class='fa fa-bars' id= 'phone-nav-btn'></i>
    <i class="fa fa-h6" id= 'nav-title'><%=@title%></i>
    <i class="fa fa-search" id= 'search-btn'></i>
  </div>
  <ul class='nav-ul d-none' id='nav-ul'>
  <li> <%= link_to 'Home' , root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
    <%else%>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <%end%>
  </ul>
  <script>
    (function() {
      const navUl = document.getElementById('nav-ul');
      const navBtn = document.getElementById('phone-nav-btn');
      const searchBtn = document.getElementById('search-btn');
      const searchDiv = document.getElementById('search-div');
      const navTitle = document.getElementById('nav-title');
      const container = document.getElementById('container');
      const header = document.getElementById('header');

      navBtn.addEventListener('click', () => {
          if(navBtn.classList.contains('fa-bars')) {
          navUl.classList.replace('d-none','phone-nav-active');
          navBtn.classList.replace('fa-bars','fa-close');
          header.classList.add('header-active');
          }
          else {
          navUl.classList.replace('phone-nav-active', 'd-none');
          navBtn.classList.replace('fa-close', 'fa-bars');
          header.classList.remove('header-active');
          }
        });
      searchBtn.addEventListener('click', () => {
        if(searchBtn.classList.contains('fa-search')) {
        searchBtn.classList.replace('fa-search','fa-close');
        searchDiv.classList.replace('d-none','search-div');
        navBtn.classList.add('d-none');
        navTitle.classList.add('d-none');
        }
        else {
        searchBtn.classList.replace('fa-close','fa-search');
        searchDiv.classList.replace('search-div','d-none');
        navBtn.classList.remove('d-none');
        navTitle.classList.remove('d-none');
        }
      });
    })();
  </script>
</header>