<!DOCTYPE html>
<html>
  <head>
    <title>Budget App Welcome page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class = 'container' id='container'>
      <main class="splash-main">
        <h1>Budget App</h1>
        <ul id='splash-links'>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        </ul>
      </main>
    </div>
  </body>
</html>
